{% import "ImaticViewBundle:Component:widget.html.twig" as widget %}
{% extends "ImaticUserBundle::layout.html.twig" %}

{% block body_tag %}
<body onload="document.getElementById('username').focus();">
{% endblock %}

{% block headline %}
    {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
{% endblock %}

{% block action %}
    {% block fos_user_content %}
        <form action="{{ path("fos_user_security_check") }}" method="post" autocomplete="off">
            {{ widget.start("span4 offset4 login widget-simple-form") }}
            {{ widget.header_start() }}
            <h1>{{ application.name }}</h1>
            {{ widget.header_end() }}

            {{ widget.body_start() }}
            {% if error %}
                <div class="alert alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}
            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}">

            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password">
            {{ widget.body_end() }}
            {{ widget.footer_start() }}
            <input type="submit" id="_submit" name="_submit" class="btn btn-primary btn-large btn-block"
                   value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}">

            <p>
                <label class="checkbox inline pull-left" for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me"
                           value="on">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                </label>
                <a class="pull-right"
                   href="{{ path('fos_user_resetting_request') }}">
                    {{ 'security.login.forgotten_password'|trans({}, 'ImaticUserBundle') }}
                </a>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
            </p>
            {{ widget.footer_end() }}
            {{ widget.end }}
        </form>
    {% endblock fos_user_content %}
{% endblock action %}
