{% import "ImaticViewBundle:Component:message.html.twig" as message %}
{% import "ImaticViewBundle:Component:panel.html.twig" as widget %}
{% extends "ImaticUserBundle::layout.html.twig" %}

{% block headline %}
    {{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}
{% endblock %}

{% block fos_user_content %}
    <div class="resetting request">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            {% embed 'ImaticViewBundle:Layout:grid.html.twig' with {rows: [{ cols:{reseting: {size: 4, offset: 4} } }] } %}
                {% block reseting %}

                    {% embed 'ImaticViewBundle:Component:panel.html.twig' %}
                        {% set panel = {type: 'app'} %}
                        {% block panel_header %}
                            <h1>{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</h1>
                        {% endblock %}
                        {% block panel_body %}
                            {% if invalid_username is defined %}
                                {{ message.message('danger', 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle')) }}
                            {% endif %}
                            <div class="form-grop">
                                <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
                                <input class="input-lg form-control"
                                       type="text"
                                       id="username"
                                       name="username"
                                       required="required"/>
                            </div>

                        {% endblock %}
                        {% block panel_footer %}
                            <input type="submit" class="btn btn-primary btn-lg btn-block"
                                   value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}"/>
                        {% endblock %}
                    {% endembed %}

                {% endblock %}
            {% endembed %}
        </form>
    </div>
{% endblock fos_user_content %}
