{% import "ImaticViewBundle:Component:widget.html.twig" as widget %}
{% extends "FOSUserBundle::layout.html.twig" %}

{% block headline %}
    {{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}
{% endblock %}

{% block fos_user_content %}
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        {{ widget.start("span4 offset4 widget-simple-form") }}
        {{ widget.header_start() }}
        <h1>{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</h1>
        {{ widget.header_end() }}

        {{ widget.body_start() }}
        {% if invalid_username is defined %}
            <p class="alert alert-error">
                {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}
            </p>
        {% endif %}
        <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="username" required="required"/>
        {{ widget.body_end() }}

        {{ widget.footer_start() }}
        <input type="submit" class="btn btn-primary btn-block btn-large"
               value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}"/>
        {{ widget.footer_end() }}
        {{ widget.end() }}
    </form>
{% endblock fos_user_content %}
