{% extends "ImaticUserBundle::layout.html.twig" %}

{% block headline %}
    {{ 'User Profile'|trans({}, 'ImaticUserBundle') }}
{% endblock %}

{% block fos_user_content %}

    {% embed 'ImaticViewBundle:Layout:grid.html.twig' with {rows: [{ cols: {sidebar: {size: 3}, profile: {size:9} } }] } %}
        {% block sidebar %}
            {% include 'ImaticUserBundle:Profile:menu.html.twig' %}
        {% endblock %}
        {% block profile %}
            <table class="table">
                <tr>
                    <th>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</th>
                    <td>{{ user.email }}</td>
                </tr>
            </table>
        {% endblock %}
    {% endembed %}

{% endblock %}
