{% extends "ImaticUserBundle::layout.html.twig" %}

{% block headline %}
    {{ 'profile.show.headline'|trans({}, 'ImaticUserBundle') }}
{% endblock %}

{% block sidebar %}
    {% include 'ImaticUserBundle:Profile:menu.html.twig' %}
{% endblock %}

{% block fos_user_content %}
    <div class="row-fluid">
        <div class="span5">
            <table class="table table-transposed">
                <tr>
                    <th class="fifty">{{ 'profile.show.fullname'|trans({}, 'ImaticUserBundle') }}</th>
                    <td class="fifty">{{ user.fullname }}</td>
                </tr>
                <tr>
                    <th>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</th>
                    <td>{{ user.email }}</td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}
