{% extends '::base.html.twig' %}

{% block action %}
    <div class="roles">
        {% block nav %}
            <ul class="nav nav-tabs">
                {% for type in roleMap|keys %}
                    {% block link %}
                        <li class="{{ loop.first ? 'active' }}">
                            <a href="#roles-{{ type|imatic_slug }}" data-toggle="tab">{{ type|trans_role_type }}</a>
                        </li>
                    {% endblock %}
                {% endfor %}
            </ul>
        {% endblock %}
        {% block content %}
            <div class="tab-content">
                {% for type, roleList in roleMap %}
                    {% block tabs %}
                        <div id="roles-{{ type|imatic_slug }}" class="tab-pane {{ loop.first ? 'active' }}">
                            {% block pills %}
                                <ul class="nav nav-pills nav-stacked pull-left">
                                    {% for domain in roleList|keys %}
                                        {% block pill %}
                                            <li class="{{ loop.first ? 'active' }}">
                                                <a href="#roles-{{ '%s-%s'|format(type, domain)|imatic_slug }}" data-toggle="pill">
                                                    {{ domain|trans_role_domain }}
                                                </a>
                                            </li>
                                        {% endblock %}
                                    {% endfor %}
                                </ul>
                            {% endblock %}
                            {% block tab %}
                                <div class="tab-content">
                                    {% for domain, labels in roleList %}
                                        {% block roles %}
                                            <div id="roles-{{ '%s-%s'|format(type, domain)|imatic_slug }}" class="tab-pane {{ loop.first ? 'active' }}">
                                                <table style="margin: 0 2em 2em">
                                                    {% for label, roles in labels %}
                                                        {% block role %}
                                                            <tr>
                                                                <td>{{ roles.0|trans_role }}</td>
                                                                <td style="padding-left: 2em">
                                                                    {% for role in roles %}
                                                                        {% if role.action != '' %}
                                                                            <label style="display: inline-block; width: 7em; margin-right: 2em; text-align: right">{{ role.action|trans_role_action }}</label>
                                                                        {% endif %}
                                                                        <button
                                                                            class="btn {{ object.hasRole(role.role) ? 'btn-success' : 'btn-danger' }}"
                                                                            data-loading-text="{{ 'Processing'|trans({}, 'roles') }}"
                                                                            data-url="{{ path('imatic_user_role_switch', {type: objectType, id: object.id, role: role.role}) }}"
                                                                            data-text-allowed="{{ 'Allowed'|trans({}, 'roles') }}"
                                                                            data-text-denied="{{ 'Denied'|trans({}, 'roles') }}"
                                                                            style="margin-right: 2em; width: 9em"
                                                                        >
                                                                            {{ (object.hasRole(role.role) ? 'Allowed' : 'Denied')|trans({}, 'roles') }}
                                                                        </button>
                                                                    {% endfor %}
                                                                </td>
                                                            </tr>
                                                        {% endblock %}
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        {% endblock %}
                                    {% endfor %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endfor %}
            </div>
        {% endblock %}
    </div>

    <script>
        $('.roles button').click(function() {
            var $button = $(this);
            $button.button('loading');
            $.get($button.data('url') + '?allowed=' + ($button.is('.btn-success') ? '0' : '1'), function() {
                $button
                    .toggleClass('btn-success btn-danger')
                    .button('reset')
                    .text($button.data('text-' + ($button.is('.btn-success') ? 'allowed' : 'denied')))
                ;
            });
        });
    </script>
{% endblock %}
